
  *{
	margin: 0px auto;
	padding: 0px;
    }
    header{
    	width:100%;
        margin:0px auto;
    }
	div#logo{
		float:left;
	}
	div#dn{
		float:right;
        padding-top:5px;
        padding-right:8px;
        font-size:16px;
        font-weight:bold;
	}
	div#dn a{
		font-family:Verdana, Geneva, sans-serif;
		font-size:16px;
		font-weight:bold;
		color:#000;	
        font-weight:bold;
	}
	header div#dn a:hover{
		color:#900;
	}
	nav{
		clear:both;
		background-color:#206ab5;
		height:40px;
	}
	nav div#subnav{
		width:930px;
		margin:0px auto;

	}
	nav ul{
		list-style:none;
		margin:0;
        padding:0;

	}
	nav ul li{
		float: left;
        border-left: 1px solid #c7d2e8;
        height:40px;
		
	}
    #Dau{
        border-left:none;
    }
	nav ul li a{
        display:block;
		color:white;
		font-size:16px;
		font-family:Arial;
		text-decoration:none;
		font-weight:bold;
        padding:11px 15px;
        height:40px;
	}
	nav ul li a:hover {
		background-color:darkblue;
	}

	div#body{
		width:1200px;
		margin:0px auto;
		background-color:#edeaea;
		box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
        min-height:800px;
	}
	article{
		display:table-row;
	}
	aside#left,section{
		display:table-cell;
		vertical-align:top;
	}
	aside#left{
		width:300px;
        padding-top:5px;
	}
	section{
		width:900px;
        max-width: 900px;
        height:800px;
        max-height:1500px;
		padding-top:5px;
        padding-left:8px;
	}
	aside#left>div{
		border:1px solid #206ab5;
		border-radius:4px;
		margin-bottom:10px;
        height: auto;
	}
	aside#left>div>p{
		background-color:#206ab5;
		border-top-left-radius:2px;
		border-top-right-radius:2px;
		text-align:center;
		font-size:14px;
		font-weight:bold;
		color:white;
		height:25px;
		padding-top:5px
	}
	aside#left>div>ul{
		padding-left:10px;
		font-family:Arial;
	}
.aside{
        height:auto;
        margin:5px;
		list-style-position:inside;
		list-style-image:url();	
        font-weight:bold;
        padding-left:2px;
        padding-right:2px;
        font-size:18px;
	}
.aside a {
        font-size:16px;
		color:#206ab5;
		text-decoration:none;
	}
.aside a:hover{
		color:darkblue;
	}
#TimKiem{
	background: linear-gradient(#a5b4c4,#206ab5,#206ab5);
	border-top-left-radius: 2px;
	border-top-right-radius:2px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: white;
	height: 40px;
	padding-top: 5px;
}

footer{
	background-color: #206ab5;
	height: 100px;
	padding-top: 10px;
}
footer>p{
	text-align: center;
	font-size: 17px;
	margin-top: 5px;
}
.drop {

    border-radius:4px;
    box-shadow: 1px 1px 1px 1px #808080;
    margin-left:3px;
}
.dropDangBai {

    border-radius:4px;
    box-shadow: 1px 1px 1px 1px #808080;
    margin-left:3px;
    padding-right:30px;
}
.btntimkiem{
    border-radius:4px;
    box-shadow: 1px 1px 1px 1px #808080;
    margin-left:20px;
 }
.content{
    float:left;
    width:440px;
    height:160px;
    margin-top: 3px;
    margin-left:3px;
    margin-right:5px;
    margin-bottom: 5px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #206ab5;

}
.TieuDe{
    font-size:18px;
}
.SlideShow{
    width:600px;
    height:400px;
}
div#left, div#right {
    display: table-cell;
    vertical-align: top;
}
.contentp{
    font-weight:bold;
    font-size:14px;
    padding:3px;
    padding-left:0px;
}
.contentp2{
    color:#900;
}
.TieuDe a{
    text-decoration:none;
    font-weight:bold;
    color:#206ab5;
}
.hinhlogo{
    width:500px;
    height:100px;
}

.login
{
	width:100%;
	max-width:400px;
	margin:100px auto;
	padding:15px;

}
.bgdv tr
{
	height:50px;
}
.bgdv a
{
	color:black;;
}
.bgdv a:hover
{
	color:darkblue;	
}
.dn {
	font-size:24px;
	margin-top:15px;
	padding: 7.5px 15px;
    border-radius: 3px;
    background-color: #206ab5;
    border: 2px solid#999;
	margin-bottom:10px;
    font-weight:bold;
    color:white;
	
}


.dn:hover
{
	background-color:darkblue;
}
.dk
{
	padding:15px;

}
.btn {
	font-size:24px;
	margin-top:15px;
	padding: 7.5px 15px;
    border-radius: 3px;
    background-color: #206ab5;
    border: 2px solid#999;
	margin-bottom:10px;
    font-weight:bold;
    color:white;
	
}
.btn:hover{
    background-color:darkblue;
}

.diachi
{
	height:30px;
	background-repeat:no-repeat;
    background-position:10px;
    border-radius:5px;	
}
.huongdan{
    padding:30px;
    font-size:16px;
}
div#right{
    padding-left:5px;
}
.bgdv{
    margin-left:50px;
    border-collapse:collapse;
    border-spacing:0;
}
.bgdv,.bgdv>tbody>tr>td,.bgdv>thead>tr>th{
    border: 3px solid #000;
}
/*css slideshow*/
* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 600px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
#gvTinMoiDang{
    border-collapse:collapse;
    border-color:#edeaea;
    height:auto;
    margin:5px;
	list-style-position:inside;
	list-style-image:url();	
    font-weight:bold;
    padding-left:2px;
    padding-right:2px;
    font-size:18px;
}
#gvTinMoiDang a{
    color:#206ab5;
	text-decoration:none;
}
#gvTinMoiDang a:hover
{
    color:darkblue;
}
.DGTenKH{
    float:left;
    margin:0px auto;
    font-size:16px;

}
.DGcmt{
    float:left;
    margin:0px auto;
    font-size:14px;
}
div#DanhGia{
    padding-top:5px;
    padding-bottom:15px;

}
div#formdg{
    margin-top:5px;
    height:50px;
    width:500px;
    padding: 8px 14px;
    position: relative;
    background: #8e9cad;
    border-radius: 5px;
}
.lbCTNT{
    margin-left:5px;
    margin-right:5px;
}
.lbTenKH{
    font-size:18px;
    font-weight:bold;
}
.border-bottom {
    border-bottom: 1px solid #dee2e6!important;
}
.dangbai tr td{

    font-weight:normal;
}

.snip1582 {
  background-color: #206ab5;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'BenchNine', Arial, sans-serif;
  font-size: 1em;
  font-size: 22px;
  line-height: 1em;
  margin: 15px 40px;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
}

.snip1582:before,
.snip1582:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}

.snip1582:before {
  border-color: #206ab5;
  border-top-width: 2px;
  left: 0px;
  top: -5px;
}

.snip1582:after {
  border-bottom-width: 2px;
  border-color: #206ab5;
  bottom: -5px;
  right: 0px;
}

.snip1582:hover,
.snip1582.hover {
  background-color: #206ab5;
}

.snip1582:hover:before,
.snip1582.hover:before,
.snip1582:hover:after,
.snip1582.hover:after {
  height: 100%;
  width: 100%;
}
.CamOn {
    width:100%;
    border-radius:3px;
    padding:10px;
}
table#TaiKhoan tr
{
	height:50px;
}
table#TaiKhoan tr td
{
    font-weight:bold;
	font-size: 18px;
}
table#TaiKhoan a
{
    font-size:24px;
	color:#000;
}
table#TaiKhoan a:hover
{
	color:darkblue;	
}

table#TaiKhoan tr th
{
	font-size:30px;
}
table#TaiKhoan input[type=text]
{
	height:30px;
	background-repeat:no-repeat;
	background-position:10px;	
    border-radius:5px;
}
table#TaiKhoan input[type=password]
{
	height:30px;
	background-repeat:no-repeat;
	background-position:10px;
    border-radius:5px;	
}