body {
    margin:0;
    padding:0;
    font-family:Verdana;
    font-size:80%;
    background:#9bccd2;
    height: 990px;
}
#menutop{
    height:35px;
    background:#000;
    position:fixed;
    width:100%;
    top:113px;
    left:-1px;
    padding:0;
    margin:0 0 0px 0;
}
#menu{
    width:918px;
    margin:0px auto 0 auto;
    padding:0;
    height: 32px;
}
#menu ul{
    list-style:none;
    margin:0;
    padding-top:7px;
    padding-left:0;
    width: 907px;
}
#menu ul li{
    float:left;
    margin:0;

}
#menu ul li a{
    padding-right:20px;
    color:white;
    text-decoration:none;
    font-weight:bold;
}
#menu ul li a:hover{
    color: #fff000;
    text-decoration: underline;
}
#content {
    float: left;
    background: #fff;
    border: 2px solid #0a3c42;
    box-shadow: 5px 5px 5px 5px #808080;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
}


#content {
    background: #fff;
    border: 2px solid #0a3c42;
    box-shadow: 5px 5px 5px 5px #808080;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
}
#ndright{
    padding:10px 15px;
    text-align:justify;
}
#ndcontent {
    padding:10px;
    text-align: justify;
}

#ndcontent #left ul li {
    margin: 0px;
    padding: 0px;
}

#ndcontent #left ul li {
    list-style: none;
    clear: left;
    border-bottom: 2px solid #ccc;
    float: left;
    margin-bottom: 20px;
    margin-left:-5px;
}

#ndcontent #left ul li p{
    font-size:13px;
}

#ndcontent #left ul li img {
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}
#ndcontent #left ul li a {
    text-decoration: none;
}

#content h1{
    margin:0;
    padding:5px 10px;
    font-family:'Times New Roman';
    font-size:16px;
    background:#0000;
    color:#fff000;
}
#rightcontent h1 {
    margin: 0;
    padding: 5px 10px;
    font-family: 'Times New Roman';
    font-size: 16px;
    background: #0000;
    color: #fff000;
}
#footer {
    clear: both;
    background: #000;
    width: 1000px;
    margin:0 auto;
}
#ndfooter {
    color:#fff;
    padding:15px;
    text-align:center
}
